* {
    box-sizing: border-box;
}
.header5 {
    width: 50%;
}

h1 {
    text-align: center;
}


.table, th, td {
    border: 1px solid;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.tb1 {
    border: 1px none;
    margin-bottom: 20px;
    color: blue;

}

.C1 {
    background-color: yellowgreen;
}
.C2 {
    background-color: yellow;
}

