* {
    box-sizing: border-box;
}
div {
    margin: auto;
}
 .header2 {
    background-color: wheat;
    width: 400px;

}
th {
    font-size: 25px;
    margin: 0 20px 20px 0;
    height: 40px;
    width: 400px;
    background-color: #b85173;
}
.hed1 {
    color: blue;
    font-size: 18px;
    margin-right: 30px;
}
.mrg {
    height: 30px;
    width: 200px;
    border-left: 2px solid #b1154a;
    border-top: 2px solid #b1154a;
    border-right: 1px solid #b85173;
    border-bottom: 1px solid #b85173;
}

.btn2 {
    height: 30px;
    font-size: 17px;
    border-left: 2px solid #b1154a;
    border-top: 2px solid #b1154a;
    border-right: 1px solid #b85173;
    border-bottom: 1px solid #b85173;
    border-radius: 2px;
}
.btn2:hover {
    background-color: orange;
    color: blue;
}