* {
    box-sizing: border-box;
}

hr {
    border-top: 1px dotted red;
}




table, th, td{
    border:1px solid #868585;
}
table{
    border-collapse:collapse;
}
table tr:nth-child(odd){
    background-color:#eee;
}
table tr:nth-child(even){
    background-color:white;
}
table tr:nth-child(1){
    background-color:skyblue;
}
select {
    width: 300px;
    font-size: 18px;
    text-align: center;

}
button {
    font-size: 17px;
    height: 30px;
    margin: 30px;
}